/* header css*/
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

:root{
    --selection_color:rgb(151, 6, 190);
}

*{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .3s linear;
}

*::selection{
    background:var(--selection_color);
    color:white;
}

header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: rgb(39, 37, 37);
    z-index:3;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding:1.8rem 10%;
}

html{
    font-size: 65%;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header .logo{
    font-family: "Playwrite GB S", cursive;
    font-size: 3rem;
    font-weight:200;
    color:white;
    text-transform: uppercase;
}

header .logo span{
    color:var(--selection_color);
    font-family: "Playwrite GB S", cursive;
    font-size: 3rem;
    font-weight:200;
}

header .navigation a{
    color:white;
    margin: 0 1rem;
    font-size: 1.5rem;
}

header .navigation a:hover{
    color:var(--selection_color);
    transition: font-size 0.3s ease;
}

header .navigation a:hover:hover{
    font-size:1.8rem;
}

header .icon i{
    margin-right: 1.5rem;
    font-size: 2.2rem;
    color:white;
    cursor: pointer;
    margin-left:1.5rem;
}

header .icon i:hover{
    color:var(--selection_color);
    transition: font-size 0.3s ease;
}

header .icon i:hover:hover{
    font-size:2.7rem;
}

header .search_bar{
    padding:1.5rem 1.5rem;
    display:flex;
    align-items: center;
    top:100%;
    left:0;
    right:0;
    position:absolute;
    background-color: rgb(39, 37, 37);
    border-top:.1rem solid rgb(58, 57, 57);
    z-index:4;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
}

header .search_bar.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
}

header .search_bar #search-bar{
    padding:1rem;
    width:90%;
    text-transform:none;
    color:rgb(39, 37, 37);
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

header .search_bar #search-bar:hover{
    transition: font-size 0.3s ease;
}

header .search_bar #search-bar:hover:hover{
    font-size:1.8rem;
}

header .search_bar label{
    cursor: pointer;
    color: white;
    font-size: 2rem;
    margin-left: 1.2rem;
}

header .search_bar label:hover{
    color: var(--selection_color);
    transition: font-size 0.3s ease;
}

header .search_bar label:hover:hover{
    font-size:2.5rem;
}

/* body */

.text
{
    margin-top: 120px;
    margin-bottom: 50px;
}

.para1
{
    font-size: 1.5rem;
    margin-top: 30px;
}

.heading 
{
    font-size: 2rem;
}

.details
{
    background-color:purple;
    margin-left: auto;
    margin-right: 450px;
    width: 400px;
    height: 500px;
    border-radius: 1rem;
    border-color: black;
}

.form
{
    text-align: center;
}
    

input[type="text"], input[type="email"], textarea 
{
    width: 370px;
    height: 40px;
    font-size: 15px;
    margin-bottom: 25px;    
}

input[type="submit"] 
{
    width: 370px; /* Adjust width */
    height: 55px; /* Adjust height */
    font-size: 23px; /* Adjust text size inside */
}

textarea {
    width: 370px;
    height: 70px; /* Standard textbox height */
    font-size: 25px;
}

textarea.message {
    height: 150px; /* Double the height of other textboxes */
    font-size: 15px;
}

.firstName
{
    margin-top: 15px;
}

.Odiv
{
    display: flex;
}

.image
{
    margin-left: 200px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; /* Places the image behind other content */
    object-fit: cover; /* Ensures the image covers the background */
}

.feedback
{
    text-align: center;
    font-size: 20px;
}

.button
{
    height: 33px;
    width: 100px;
    cursor:pointer;
}
