h2{
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
}

table{
    margin:auto;
}

.t_details{
    border-collapse: collapse;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 4px 4px 0 0;
    overflow:hidden;
    box-shadow: 0 0 5px;
}

.t_details thead tr{
    background-color:rgb(151, 6, 190);
    color:white;
    font-weight:bold;
}
.t_details th,.t_details td{
    padding:12px 15px;
}

.t_details tbody tr{
    border-bottom: 1px solid rgb(221, 221, 221);
}

.t_details tbody tr:last-of-type{
    border-bottom: 2px solid rgb(151, 6, 190);
}

.submit{
        margin-top: 30px;
        margin-left:45%;
        background-color: rgb(151, 6, 190);  
        color: white;             
        padding: 1rem 2rem;                
        border-radius: 0.6rem;        
        font-size: 1.6rem;            
        text-align: center;
        transition: font-size 0.3s ease;
        display: inline-block;
}

.submit:hover{
    font-size:2rem;
}

