.trip{
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

}

.confirm{
    margin-top: 90px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
}

table{
    margin: auto;
}


.t_details{
    border-collapse: collapse;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 4px 4px 0 0;
    overflow:hidden;
    box-shadow: 0 0 5px;
}

.t_details thead tr{
    background-color:rgb(151, 6, 190);
    color:white;
    font-weight:bold;
}
.t_details th,.t_details td{
    padding:12px 15px;
}

.t_details tbody tr{
    border-bottom: 1px solid rgb(221, 221, 221);
}

.t_details tbody tr:last-of-type{
    border-bottom: 2px solid rgb(151, 6, 190);
}